[project]
name = "fastapi-hub"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi>=0.129.0",
    "pip>=26.0.1",
    "uvicorn>=0.41.0",
]
